{% extends 'base.html' %}
{% load static %}

{% block childpage %}

<style>
.form-control
    {
    height:50px;
    border:none;
    border-radius:0 !important;
    }
 .feed:hover
    {
       filter:scale(100%);
        transition:1s;
        transform:scale(1.02);
    }
</style>
<!-------------------Feedback start--------------->
<!--------------start heading------------------>
<div class="row">
<div class="col-sm-5 mx-auto text-center my-4">
    <p class="m-0 h2">
    <i class="fa-solid fa-users"></i>Write Your Valuable
    <b class="txt-color1">Feedback</b></p>
    <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
    <hr/>
</div>
</div>
<!-------------------end heading----------------->

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
        <!---------------start recruiter-------------->
              <div class="col-sm-6">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                Name<br/><input name="name" type="text" placeholder="name.." class="form-control shadow-lg mb-2"/>
                Your Picture<br/><input name="fu" type="file" class="form-control shadow-lg mb-2"/>
                Write Your Valuable Feedback<br/>
                <textarea style="min-height:150px; resize:none" name="message" placeholder="enter your feedback.." class="form-control shadow-lg mb-2"></textarea>
                <input type="submit" value="Save" class="form-control shadow-lg bg-mycolor1 w-25 mb-2 text-light">
            </form>
                  </div>

            <div class="col-sm-6 p-4 feed">
                <img src="{% static 'images/feedback.jpg'%}" style="height:370px;width:700px;margin-left:13px;"/>
            </div>
            </div>

        </div>
    </div>

        <!-----------------end -------------->
<!------------------Our Recruiters end------------------>
{% endblock %}
