{% extends 'base.html' %}
{% load static %}

{% block childpage %}
<!-- start heading-->







    <!--About(start)-->
    <table id="about" border="0" width="100%"
        cellpadding="0" cellspacing="0" bg-mycolor4>
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                       <!-- start heading-->
<div class="row">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">Our <b class="txt-color1">Portfolio
        <i class="fa-solid fa-building"></i>
        </b></p>
        <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->
                    </tr>

                    <tr>
                        <td width="40%">
                            <img src="{% static 'images/abhishek.jpg'%}"/>
                        </td>

                        <td width="60%">
                            <font face="Verdana" size="4"
                                color="black">
                                Thanks for your interest, here
                                is a quick story of me and this
                                website.
                                <hr color="black">
                                Hello, I am Abhishek maurya from Ayodhya.
								I have focus on learning programming
								fundamentals, data structure, algorithms, and
								software design pattern.
								develop skill in aspecific programming
								language or technology stack
                                <hr color="black">

                                I do my work mainly in C-Language,
                                C++ and JAVA. C++ and Data Structure
                                and Algorithm are my stronger section.
                                Besides these I know Web Development,
                                LINUX and database as well.
                                <hr color="black">

                                This website is basically one of my
                                Web Development project which is
                                built using HTML only.
                                Here one can also find ideas for
                                projects in different languages.

                                Thanks again for reading this,
                                because of people like you, it
                                exists and prospers!
                                <hr color="black">
                                Cheers,
                                <br>
                                <b>May your day be filled with joy,success.</b>
                            </font>
                        </td>
                    </tr>
                </table>
                <hr color="black">
                <hr color="black">
                <hr color="black">
            </td>
        </tr>
    </table>
    <!--About(end)-->


    <!--Projects(start)-->
    <table id="projects" border="0" width="100%"
        cellpadding="0" cellspacing="0" bg-mycolor4>
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                      <!-- start heading-->
<div class="row">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">Our <b class="txt-color1">Project
        <i class="fa-solid fa-building"></i>
        </b></p>
        <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->
                    </tr>

                    <tr>
                        <td height="10">
                            <font face="Times New Roman"
                                size="5" color="black">
                                <ul>
                                    <li>
                                        Calculator
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Digital Watch
                                        <a href="#"
                                           style="text-decoration:none"
                                            color="#c2c0c3">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Calendar
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Chessboard
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        form control
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Daily Quiz
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Audio Video control
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        responsive website
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp; ➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Ludo
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp;➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        order unorder list
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp;➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        table
                                        <a href="#"
                                           style="text-decoration:none">
                                            &nbsp;➲
                                        </a>
                                    </li>

                                    <li>
                                        <hr color="#c2c0c3">
                                        Travel Management System
                                        <a href="#" style=
                                            "text-decoration:none">&nbsp; ➲
                                        </a>
                                    </li>
                                </ul>
                                <hr color="#c2c0c3">
                                <hr color="#c2c0c3">
                                <hr color="#c2c0c3">
                                <hr color="#c2c0c3">
                            </font>
                        </td>

                        <td width="45%">
                            <img src="{% static 'images/com.jpg'%}" style="height:800px;width:600px;"
                                 alt="Project" width="75%">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--Projects(end)-->

    <!--Achievement(start)-->
    <table id="achievements" border="0" width="100%"
        cellpadding="0" cellspacing="0" bg-mycolor4>
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="80%" align="center">
                    <tr>
                       <!-- start heading-->
<div class="row">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">Our <b class="txt-color1">Achievments
        <i class="fa-solid fa-building"></i>
        </b></p>
        <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->
                    </tr>

                    <tr>
                        <td>
                            <font face="Verdana" size="4" color="black">
                                <ul>
                                    <li>
                                        <b>Currently,Intern at Techpile technology Pvt.Ltd</b>
                                        <ul>
                                            <li>
                                                August ,2024 -Present
                                            </li>
                                            <li>
                                                Learn different technology
												based on web development and app development.

                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <hr color="black">
                                        <hr color="black">
                                        <hr color="black">
                                        <b>Computer science and Engineering Student</b>
                                        <ul>
                                            <li>
                                                To learn Software based Technology.
                                            </li>
                                            <li>
                                                Conducted events and workshops on
                                                different technologies.
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <hr color="black">
                                        <hr color="black">
                                        <hr color="black">
                                 <b>Basic session & Technology Session</b>
                                        <ul>
                                            <li>HTML</li>
                                            <LI>CSS </li>
											<LI> Bootstrsp</LI>
											<LI> javascript</LI>
											<LI> Jquery</LI>
											<h1><b>&</b></h1>
                                            <LI> Python</LI>
                                            <LI> java</LI>
                                            <LI> Mern</LI>
                                            <LI> Android</LI>
                                            <LI> .Net</LI>

                                        </ul>
                                    </li>

                                </ul>

                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--Achievement(end)-->




        <!-------my profile end --------->
  </div>
</div>


{% endblock %}