{% extends 'base.html'%}
{% load static %}

{% block childpage %}
<div class="container-fluid">

             <!-- start heading-->
<div class="row">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">Principal <b class="txt-color1">Message
        <i class="fa-solid fa-user"></i>
        </b></p>
        <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->
  <div class="row">
    <div class="col-sm-8">
      <div class="row">

        <div class="col-sm-6">
          <img src="{% static 'images/principal.jpg' %}" style="max-height:500px;" class="img-fluid float-end rounded-3"/>
        </div>
        <div class="col-sm-6 p-2">
          <p>It is a matter of great pride and satisfaction
for COLLEGE Name to bring out
the News Letter ‘I’STORM’ Released from the
Department of Information Technology. The
College has made tremendous progress in all areas-
academic, non-academics, capacity building
relevant to staff and students. The College has
achieved another milestone in getting NBA
(National Board of Accreditation).I am confident
that this issue of Department News Letter will send
a positive signal to the staff, students and the
person who are interested in the Technical
education and Technology based activities. A News
Letter is like a mirror which reflects the clear
picture of all sorts of activities undertaken by a
Department and develops writing skills among
students in particular and teaching faculty in
general. I congratulate the Editorial Board of this
News Letter who have played wonderful role in
accomplishing the task in Record time. I express my
deep sense of gratitude to Dr.N.Balaji, HOD/IT
under whose guidance this Technical work has
been undertaken and completed within the
stipulated time. Also my heartfelt Congratulations
to staff members and Students for their fruitful
effort. With Best Wishes.
</p>
          <div class="text-end"><b class="txt-color1">PRINCIPAL<br/>
          Dr. RAJ NARAYAN DUBE</b></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pt-5">

      <div class="card border-0 shadow-lg mx-auto w-75 " style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/about/"> Univercity At a Glance</a> </li>
    <li class="list-group-item"><a href="/about/">About Us</a></li>
    <li class="list-group-item"><a href="/about">Our Vision</a></li>
    <li class="list-group-item"><a href="/about/">Our Mision</a></li>
    <li class="list-group-item"><a href="/course/">Our Courses</a></li>
    <li class="list-group-item"><a href="/recruiters/">Our Recruiters</a></li>
    <li class="list-group-item"><a href="/alumony/">Our Alumni</a></li>
    <li class="list-group-item"><a href="/faculty/">Our Faculty Members</a></li>
  </ul>
</div>
    </div>
  </div>
</div>

{% endblock %}