{% extends 'base.html' %}
{% load static %}

{% block childpage %}
<style>
    .infra:hover
    {
        filter:grayscale(100%);
        transition:.4s;
        transform:scale(1.02);
    }
</style>

<!-- start heading-->
<div class="row">
    <div class="col-sm-5 mx-auto text-center my-4">
        <p class="fs-3 m-0">Our <b class="txt-color1">Recruiters
        <i class="fa-solid fa-building"></i>
        </b></p>
        <i> "Success is not final, failure is not fatal: It is the courage to continue that counts."</i>
        <hr/>
    </div>
</div>
<!-- end heading-->


<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">

        <!-- start infra -->
{% for i in gdata %}
        <div class="col-sm-3">
            <div class="card infra text-center shadow-lg mb-3 bg-body-tertiary rounded border-0 p-3">
                <img src="../{{i.company_logo}}" style="max-height:280px;" class="img-thumbnail"/>


            </div>

        </div>
            {% endfor %}

        <!-- end infra -->
            </div>
    </div>
</div>

{% endblock %}